.w3-bar.w3-black.nav-bar
	a.w3-bar-item.w3-button.w3-mobile(href='/') Home
	a.w3-bar-item.w3-button.w3-mobile(href='/page1') Routing and Views
	.w3-dropdown-hover
		a.w3-button.w3-mobile(href='/middleware') Middleware
			.w3-dropdown-content.w3-bar-block.w3-card-4
				a.w3-bar-item.w3-button(href='/middleware/application-level') Application-level
				a.w3-bar-item.w3-button(href='/middleware/router-level') Router-level
				a.w3-bar-item.w3-button(href='/middleware/error-handling') Error-handling
				a.w3-bar-item.w3-button(href='/middleware/built-in') Built-in
				a.w3-bar-item.w3-button(href='/middleware/third-party') Third-party
	a.w3-bar-item.w3-button.w3-mobile(href='#') Link 3
