extends layout 

block main
	.container
		.title
			h1= title
		.content
			img.file(src="/images/10.png" alt="built-in middleware")
			ul
				li express.static
				li express.json
				li express.urlencoded
			
