extends layout 

block main
	.w3-container
		h1= title
		h2.heading Error handling
		img.file(src='/images/08.png',alt='index.js')
		h2.heading Error handling - Template
		img.file(src='/images/09.png',alt='index.js')
		
