extends layout

block main
	section.container
		.title
			h1 Learn #{title}
		.content
			a(href='/page1') Routing and Views
			br
			a(href='/middleware') Middleware
			br
			a(href='/playground') Playground
		
		
			
