extends layout 

block main
	.container
		h1= title
		a(href='/middleware/application-level') Applicaton-level middleware
		br
		a(href='/middleware/router-level') Router-level middleware
		br
		a(href='/middleware/error-handling') Error-handling middleware
		br
		a(href='/middleware/built-in') Built-in middleware
		br
		a(href='/middleware/third-party') Third-party middleware
	
