extends layout 

block main
	.container
		.title
			h1 #{title}
		h2.heading index.js
		img.file(src='/images/01.png',alt='index.js')
		h2.heading layout.pug 
		img.file(src='/images/02.png',alt='layout.pug')
		h2.heading Block Main 
		img.file(src='/images/03.png',alt='block main')
		h2.heading Includes
		img.file(src='/images/04.png',alt='includes')


