extends layout 

block main
	.container
		.title
			h1= title
		.content
			img.file(src="/images/11.png" alt="third-party middleware")
			ul
				li 
					a(href='/third-party/cookie-parser') cookie-parser
				li 
					a(href='/third-party/body-parser') body-parser
				li many more
