html {
	background-color: white;
}

.nav-bar {
	border-radius: 1%;

}

.file {
	height: 8rem;
}

.file:hover {
	height: 40rem;
}

.heading {
	background-color: lightgreen;
	border-radius: 1%;
	text-align: center;
}

.container {
	margin: 16px 16px 16px 16px;

}

@media only screen and (min-width: 768px) {
html {
	background-color: grey;
}
.container {

	margin: -5rem 4rem;
	border-radius: 1%;
	background-color: white;
}

.title {
	margin: 12px 12px 12px 12px;
	
}

.nav-bar {
	height: 8rem;
}

}
